body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 20px;
    color: #A20013;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0;
    color: #666;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.form-box {
    background: linear-gradient(180deg, #f6d365 0%, #fda085 100%);
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 20px;
}

#trainForm.search-field {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.input-field:focus {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    border: none;
    padding: 15px;
    background-color: #EB0000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #C60018;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}

.results-container {
    width: 100%;
    padding: 20px;
    background: linear-gradient(180deg, #f0f2f5, #A20013);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.connection {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.connection:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.connection p {
    margin: 0;
    font-size: 1rem;
}

.connection p.departure-station {
    font-weight: bold;
    margin-bottom: 8px;
}

.connection .rauchstopp {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 4px 4px 0px 0px;
    margin: 0px;
}

.connection .bild_rauchstopp {
    width: 20%;
    max-width: 100px;
    height: auto;
    background: url('https://cdn-01.media-brady.com/store/stch/media/catalog/product/d/m/dmne_7961031012_p_std.lang.all.jpg') no-repeat top right;
    background-size: contain;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.button-80 {
    width: 100%;
    background: #EB0000;
    color: #fff;
    border: none;
    border-radius: .375rem;
    padding: .875rem 1.125rem;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.button-80:hover {
    background: #C60018;
    transform: scale(1.05);
}

.button-80:active {
    transform: scale(0.95);
}

.overlay {
    position: fixed;
    justify-self: end;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;
}

.overlay-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
}

#trainForm.hidden {
    display: none;
}

#toggleFormButton {
    display: none;
    margin: 20px auto;
}

#trainForm.hidden + #toggleFormButton {
    display: block;
}
