body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

h1 {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #007bff;
}

#trainForm.search-field {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.connection {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.connection:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.connection p {
    margin: 0;
    font-size: 1.2rem;
}

.connection p.departure-station {
    font-weight: bold;
    margin-bottom: 8px;
}

.rauchstopp {
    color: darkgreen;
    font-size: 16px;
    font-weight: bold;
}

.bild_rauchstopp {
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: block;
}

.button-80 {
    width: 50%;
    align-self: center;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: .375rem;
    padding: .875rem 1.125rem;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.button-80:hover {
    background: #0056b3;
    transform: scale(1.05);
}

.button-80:active {
    transform: scale(0.95);
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
}

#trainForm.hidden {
    display: none;
}

#toggleFormButton {
    display: none;
    margin: 20px auto;
}

#trainForm.hidden + #toggleFormButton {
    display: block;
}